<!DOCTYPE html>
<html lang="pt-BR" ng-app="cicloviasSPApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Página para visualização das estatísticas de uso das ciclovias da cidade de São Paulo">
<meta name="author" content="Dados Abertos SJC">
<link rel="icon" href="../../favicon.ico">

<title>Uso das ciclovias de São Paulo</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/scrolling-nav.css" rel="stylesheet">

<style type="text/css">
select {
	min-width: 160px;
}
</style>
</head>

<body ng-controller="CicloviasSPController" id="page-top"
	data-spy="scroll" data-target=".navbar-fixed-top">

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Ciclovias
					SP</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a class="page-scroll" href="#funcionamento">Como
							Funciona?</a></li>
					<li><a class="page-scroll" href="#sobre">Sobre</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


	<!-- Intro Section -->
	<section id="intro" class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Estatísticas de uso das ciclovias de São Paulo</h1>
				</div>
			</div>
			<p class="lead">
				Um gráfico interativo de uso das ciclovias de São Paulo usando os <a
					href="https://github.com/LabProdam/DadosDaCiclovia">dados
					coletados das câmeras de contagem de ciclistas</a>.
			</p>

			<div class="row">
				<form class="form-inline">
					<div class="input-group">
						<span class="input-group-addon" id="mostrarLbl">Mostrar</span>
						<div class="btn-group" role="group" aria-label="mostrarLbl">
							<button type="button" class="btn btn-default"
								ng-class="{active: ehAgregacaoSelecionada(a), notActive: !ehAgregacaoSelecionada(a)}"
								ng-click="selecionaAgregacao(a)"
								ng-repeat="a in [ANO, MES, DIA]">{{a}}</button>
						</div>
					</div>
					<div class="input-group">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default"
								ng-class="{active: comparando, notActive: !comparando}"
								ng-click="habilitaComparacao()">Permitir Comparação</button>
						</div>
					</div>

					<br /> <br />
					<div class="input-group">
						<span class="input-group-addon" id="cicloviaLbl">Ciclovia </span>
						<select class="form-control" aria-describedby="cicloviaLbl"
							ng-disabled="!ciclovias " ng-model="cicloviaSelecionada"
							ng-change="carregaDatasDisponiveis()"
							ng-options="c.value for c in ciclovias">
						</select>
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="anoLbl">Ano</span> <select
							class="form-control" aria-describedby="id="
							anoLbl" ng-disabled="agregacaoSelecionada == 'Tudo' || !datasDisponiveis || !cicloviaSelecionada"
							ng-change="carregaMeses()" ng-model="anoSelecionado"
							ng-options="a.ano for a in datasDisponiveis">
						</select>
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="mesLbl">Mês</span> <select
							class="form-control" aria-describedby="mesLbl"
							ng-disabled="agregacaoSelecionada == 'Tudo' || agregacaoSelecionada == 'Ano' || !anoSelecionado"
							ng-change="carregaDias()" ng-model="mesSelecionado"
							ng-options="m.nome for m in meses">
						</select>
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="diaLbl">Dia</span> <select
							class="form-control" aria-describedby="diaLbl"
							ng-disabled="agregacaoSelecionada != 'Dia' || !mesSelecionado"
							ng-model="diaSelecionado" ng-options="dia for dia in dias">
						</select>
					</div>
					<div class="input-group">
						<button class="form-control btn btn-default "
							ng-click="atualizar()" ng-disabled="carregando">
							<span class="glyphicon glyphicon-plus" ng-show="comparando"></span>
							<span class="glyphicon glyphicon-refresh" ng-show="!comparando"></span>
						</button>
					</div>
					<div class="input-group">
						<button class="form-control btn btn-default " ng-click="limpar()"
							ng-disabled="carregando">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
					<span class="label label-warning" style="font-size: 16px"
						ng-show="carregando" id="lblCarregar">Carregando</span>
				</form>
			</div>
			<div class="row">
				<div id="grafico"></div>
			</div>
		</div>
	</section>

	<section id="funcionamento" class="funcionamento-section">
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-lg-12">
					<h1>Como Funciona?</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h3>Para usuários</h3>
					<p>
						A ideia é muito simples. Seguem os passos para visualizar os dados
						no gráfico: <br />
					</p>
					<ul>
						<li>Vocë escolhe se quer ver os dados por Ano, Mês ou Dia</li>
						<li>Se escolher <strong>Ano</strong>, serão mostrados todos
							os meses do ano escolhido e a contagem de ciclistas cada mês;
						</li>
						<li>Se escolher <strong>Mês</strong>, serão mostrados todos
							os dias do mês/ano escolhidos e a contagem de ciclistas cada
							dias;
						</li>


						<li>Se escolher <strong>Dia</strong>, serão mostrados todas
							as horas do dias/mês/ano escolhidos e a contagem de cada hora;
						</li>

						<li>Ao realizar a sua escolha, clique no botão atualizar <span
							class="glyphicon glyphicon-refresh"></span> e o gráfico deverá
							ser atualizado.
						</li>
						<li>Você pode também escolher a funcionalidade de comparar um
							dia com o outro ou um mês com o outro, etc. Quando comparando
							valores, o gráfico irá limpar os valores se você o tipo de
							agregação.</li>

					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h3>Programadores</h3>
					<p>
						Nosso código está no <a
							href="https://github.com/transparenciasjc/cicloviassp">github</a>
						e os dados no <a
							href="https://github.com/LabProdam/DadosDaCiclovia/blob/master/2015/06/2015-06-14.csv">github
							da LabProdam</a>.
					</p>
					<p>
						Uma explicação mais detalhada sobre o funcionamento pode ser
						encontrado no artigo <a
							href="http://aprendendo-javaee.blogspot.com.br/2015/07/interagindo-com-repositorios-usando.html">Interagindo
							com repositórios usando JGIT e a aplicação Ciclovias SP</a>.
					</p>

				</div>
			</div>
		</div>
	</section>

	<section id="sobre" class="sobre-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Sobre</h1>
				</div>
				<div class="">
					<div class="col-lg-12">
						<p>
							<strong> Desenvolvido por <a
								href="http://transparenciasjc.github.io/">Dados Abertos SJC</a>.
								Curta nossa <a
								href="https://www.facebook.com/pages/Dados-Abertos-SJC/436813019726917?ref=hl">página</a>.
							</strong>
						</p>
						<img src="imagens/dados_abertos_sjc.jpg" />
					</div>

				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">
				Por <a
					href="https://www.facebook.com/pages/Dados-Abertos-SJC/436813019726917">Dados
					Abertos SJC</a>
			</p>
		</div>
	</footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/scrolling-nav.js"></script>

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>
